<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Strelitzia Engine</title>
  <style type="text/css">
    body {
      width: 50em;
      margin: auto;
      background-color: #333;
      color: #bbb;
      font-family: "Helvetica", sans-serif;
    }

    a {
      color: #600;
    }

    a:hover {
      color: #800;
    }
  </style>
</head>
<body>

<header>
  <hgroup>
    <h1>Strelitzia Engine</h1>
    <a href="./main.html">Ruby API</a>
    <a href="./engine.html">Engine Details</a>
  </hgroup>
</header>

<%= $content %>

</body>
</html>
